body {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  background: linear-gradient(130deg, rgb(12, 12, 12), black);
  margin: 0;
  overflow-x: hidden;
}

.main {
  display: grid;

  place-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
.container {
  display: grid;
  place-items: center;
}
.warning {
  height: 200px;
  width: 200px;
}
.logo {
  height: 200px;
  width: 200px;
}
.img,
img {
  max-width: 100%;
  height: auto;
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.email-link {
  text-decoration: none;
  color: #c9c905;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.email-link:hover {
  color: #007bff;
}

.whatsapp-link img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.whatsapp-link:hover img {
  transform: scale(1.1);
}
